<h2><%= current_user.user_name %></h2><br>
<h4<%= current_user.name %></h4>

<h3> <% @user_repo_presenter.retrieve_user_repos. each do |repo| %>
  <li><%= @user_repo_presenter.display_titleized_repo_name(repo.name) %></li>
  <% end %>

<div class ="user_basics">
  <ul class="basics">
   <li class="repo>"> Repositories <%= @repositories.count%> </li>
   <li class="followers"> Followers <%= @followers.count%> </li>
   <li class="following"> Following <%= @following.count%> </li>
   <li class="starred"> Stars <%= @starred.count%> </li>
 </ul>
</div>
